@model HolidayProject.Models.PropertyDetailsModel

@{
    ViewBag.Title = "Property Details";
}

<h3>@Model.Name Details</h3>

<p>Blurb: @Model.Blurb</p>
<p>Location: @Model.Location</p>
<p>Number of Bedrooms: @Model.NumberOfBedrooms</p>
<p>Cost per Night: @Model.CostPerNight</p>
<p>Description: @Model.Description</p>
<p>Amenities:</p>
<ul>
    @foreach (var amenity in Model.Amenities)
    {
        <li>
            @amenity
        </li>
    }
</ul>
<p>Booked Dates:</p>
<ul>
    @foreach (var bookedDate in Model.BookedDates)
    {
        <li>
            @bookedDate
        </li>
    }
</ul>